/MySimpleWAS/.settings/
/MySimpleWAS/target/
/ServerTimeServlet/.settings/
/ServerTimeServlet/bin/
/MySimpleWAS/.classpath
/ServerTimeServlet/.classpath
/MySimpleWAS/.project
/ServerTimeServlet/.project
/MySimpleWAS/wasRoot/log/ymson-was.log
